if SHIELD_DYAD_CENTRAL_DONGLE || SHIELD_DYAD_CENTRAL_LEFT

config ZMK_KEYBOARD_NAME
    default "DYAD"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DYAD_CENTRAL_DONGLE || SHIELD_DYAD_CENTRAL_LEFT || SHIELD_DYAD_PERIPHERAL_LEFT || SHIELD_DYAD_PERIPHERAL_RIGHT

config ZMK_SPLIT
    default y

endif
